<!-- Header area -->
<div id="header-wrapper" class="header-slider">
  <header class="clearfix">
    <div class="logo">
      <img src="img/logo-image.png" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div id="main-flexslider" class="flexslider">
            <ul class="slides">
              <li>
                <p class="home-slide-content">
                  程式 v.s. 吉他
                </p>
              </li>
              <li>
                <p class="home-slide-content">
                  設計 v.s.游泳
                </p>
              </li>
              <li>
                <p class="home-slide-content">
                  多才v.s.多藝
                </p>
              </li>
            </ul>
          </div>
          <!-- end slider -->
        </div>
      </div>
    </div>
  </header>
</div>
