{% load static %}
<!-- section: works -->
<section id="works" class="section">
    <div class="container clearfix">
        <h4>才藝類型</h4>

        <div class="row">
            <div class="span12">
                <div id="portfolio-wrap">
                    <!-- portfolio item -->
                    <div class="portfolio-item grid print photography">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/1.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid print design web">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/2.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid print design">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/3.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/4.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/5.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/6.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/7.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/8.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/9.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography">
                        <div class="portfolio">
                            <a href="{% static "img/works/big.jpg" %}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="{% static "img/skills/10.png" %}" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                </div>
            </div>
        </div>
    </div>
</section>