{% load static %}
<!-- section: works -->
<section id="works" class="section">
  <div class="container clearfix">
    <h4>才藝類型</h4>
    <div class="row">
      <div class="span12">
        <div id="portfolio-wrap">
          {% for c in categories %}
          <!-- category item -->
          <div class="portfolio-item grid photography">
            <div class="portfolio">
              <a href="{% url 'categories' c.name %}">
                <img src="{% static c.pic_loc %}" alt="" />
                <div class="portfolio-overlay">
                  <div class="thumb-info">
                    <h5>{{c.name}}</h5>
                    <i class="icon-plus icon-2x"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- end category item -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>