{% load static %}
<!-- section: team -->
<section id="about" class="section">
  <div class="container">
    <h4>我們是誰</h4>
    <div class="row">
      <div class="span4 offset1">
        <div>
          <h2>我們是，<strong>才藝媒合者</strong></h2>
          <p>
            我們成立了「才藝起」，開起了一個平台，讓樂於分享自身所才的人，互相交換才藝，我們互相是老師、互相是學生。你的歌讓我心折，我的電繪讓你跪著看，就這麼簡單，「才藝起」，我們成為自己曾經所崇拜的偶像。
          </p>
        </div>
      </div>
      <div class="span6">
        <div class="aligncenter">
          <img src="{% static "img/icons/creativity.png" %}" alt="" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset1 flyIn">
        <div class="people">
          <img class="team-thumb img-circle" src="{% static "img/team/img-1.jpg" %}" alt="" />
          <h3>高聖哲</h3>
          <p>
            Web designer
          </p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <img class="team-thumb img-circle" src="{% static "img/team/img-2.jpg" %}" alt="" />
          <h3>Jess Chen</h3>
          <p>
            PPTer
          </p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <img class="team-thumb img-circle" src="{% static "img/team/img-3.jpg" %}" alt="" />
          <h3>宋豐价</h3>
          <p>
            Web designer
          </p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <img class="team-thumb img-circle" src="{% static "img/team/img-4.jpg" %}" alt="" />
          <h3>Happy</h3>
          <p>
            Web designer
          </p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <img class="team-thumb img-circle" src="{% static "img/team/img-5.jpg" %}" alt="" />
          <h3>安迪</h3>
          <p>
            Web designer
          </p>
        </div>
      </div>
      <div class="span2 offset1 flyIn">
        <div class="people">
          <img class="team-thumb img-circle" src="{% static "img/team/img-5.jpg" %}" alt="" />
          <h3>Eason</h3>
          <p>
            Web designer
          </p>
        </div>
      </div>
      <div class="span2 flyIn">
        <div class="people">
          <img class="team-thumb img-circle" src="{% static "img/team/img-1.jpg" %}" alt="" />
          <h3>蔡士弦</h3>
          <p>
            Sunshinez
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- end section: team -->
