{% extends "layout/base.html" %}
{% load static %}

{% block content %}
<section class="section">
	<div class="container">
		<h4>{{category.name}}</h4>
		<!-- Three columns -->
		<div class="row">

	    {% for l in category.lesson_set.all %}
	    <div class="span3">
	      <div class="home-post">
	        <div class="post-meta">
	          <i class="icon-file icon-2x"></i>
	          <span class="date">{{l.posted_on}}</span>
	          <span class="tags">
	          {% for c in l.categories.all %}
	          {{c.name}}
	          {% endfor %}
	          </span>
	        </div>
	        <div class="entry-content">
	          <h5><strong><a href="{% url 'details' l.id %}">{{l.name}}</a></strong></h5>
	          <p>
	            {{l.description}}
	          </p>
	          <a href="{% url 'details' l.id %}" class="more">Read more</a>
	        </div>
	      </div>
	    </div>
	    {% endfor %}

		</div>
	</div>
</section>
{% endblock %}
